<!-- <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi" />
  </mat-form-field> -->
<mat-card class="mt-3">
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Enter a title" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea
      matInput
      cols="30"
      rows="10"
      name="message"
      placeholder="Enter a comment"
    ></textarea>
  </mat-form-field>
  <button color="accent" mat-raised-button (click)="onAddPost()">
    Save Post
  </button>
</mat-card>
