<mat-card class="mt-3">
  <mat-form-field class="example-full-width">
    <input
      matInput
      type="text"
      placeholder="Enter a title"
      [(ngModel)]="enteredTitle"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea
      matInput
      cols="30"
      rows="10"
      name="message"
      placeholder="Enter a comment"
      [(ngModel)]="enteredContent"
    ></textarea>
  </mat-form-field>
  <button color="accent" mat-raised-button (click)="onAddPost()">
    Save Post
  </button>
</mat-card>
